# NB: La ligne avec le token est à laisser commentée lorsqu'on développe en local.
#     Il faut se connecter en CLI avec un PAT classic GitHub en cochant seulement "read:packages"
#     Elle sera décommentée lors du build & push de la CI/CD.

#//npm.pkg.github.com/:_authToken=NODE_AUTH_TOKEN
@rodinwm:registry=https://npm.pkg.github.com